#seleccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    font-weight: normal;
    font-size:medium;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#numpersonaje {
    margin: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: rgba(128, 128, 128, 0.603);
    border-radius: 0.5rem;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    color: #074173;
    font-size: 320%;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px ;
    font-size: 170%;
    font-weight: bold;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
    margin: 15px;
    padding: auto;
    background-color: #C5FF95;
    border-color: transparent;
    border-radius: 0.5rem;
}
 
p {
    margin: 20px;
}

img {
    height: 270px;
    border: 5px;
    padding: auto;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.nombre {
    display: flex;
    margin: 10px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    box-sizing: border-box;
    border: solid;
    border-radius: 0.8rem;
    border-color: #2b2a4cb2;
}